<!DOCTYPE html>
<html>
<head>
  <title>JobBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header" class="container">
	<div>
		<img id="logo" src="/assets/rsi.png">
	</div>
</div>
<div id="page">
	<div class="container">
		<%= yield %>
	</div>
</div>

</body>
</html>
